body {
    max-width: 1920px;
    max-height: 1080px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
}

.bottomTicker {
    background-color: black;
    padding: 15px;
    color: white;
    width: 100%;
    bottom: 0px;
    clear: both;
}

.leftSide {
    background-color: blue;
    width: 60%;
    float: left;
}

.rightSide {
    
}