<div id="scrollerframe">
<iframe src="/editorial" width="100%" height="100%" frameBorder="0" scrolling="no" border="0">
  <p>Your browser does not support iframes.</p>
</iframe>
</div>

  <div id="mastertitle">
    <h5>sh</h5>
  </div>

  <div id="top">
    <div class="nextbus module">
      <div class="nexttitle module-top">
        Tech Shuttle
      </div>

      <div class="next1">
        <div class="next1Time">
          6:32
        </div>
	<div class="next1b">
	  (in 12 min)
	</div>
      </div>

      <div class="next2">
        11m
      </div>
      <div class="next2">
        11m
      </div>
    </div>

    <div class="module">
      <div class="module-top">
        A module
      </div>
      Modules are filled with content.
    </div>
  </div>

<div id="bla">
  <div id="timeofday" class="border-gray">
      <div id="calendarclock" class="title">
        <div id="dayofweek" class="float-left"></div>Upcoming MIT Events
      </div>
      <div class="float-left">
        <div id="month"></div>
        <div id="day"></div>
        <div id="clock"></div>
      </div>
      <div id="eoccalendar">
        <div id="datetime">
          <ul id="timestamp"></ul>
        </div>
        <ul id="eventtitle"></ul>
      </div>
    </div>
 </div>


  <div id="bottomboxes">
    <div id="weather" class="border-gray">
      <div id="current">
	<img src="" id="nowicon" name="nowicon"></img>
	<div id="currently">
	  <div class="temp" id="nowtemp"></div>

	  <div class="title" id="nowtitle"></div>

	  <div class="location" id="nowlocation"></div>
	</div>
      </div>

      <div id="forecast">
        <div id="forecast0">
          <div class="day">
            Today
          </div>

          <img src="" id="todayicon" name="todayicon"></img>
	  <div class="details">
	    <div class="title" id="todaytitle"></div>

	    <div class="temp">
	      <span class="high" id="todaytemphigh"></span> / <span class="low"
	      id="todaytemplow"></span>
	    </div>
	  </div>
	</div>

        <div id="forecast1">
          <div class="day">
            Tomorrow
          </div>

         <img src="" id="tomorrowicon" name="tomorrowicon"></img>
	 <div class="details">
          <div class="title" id="tomorrowtitle"></div>

          <div class="temp">
            <span class="high" id="tomorrowtemphigh"></span> / <span class=
            "low" id="tomorrowtemplow"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div id="rsstickercontainer">
    <ul id="newsticker"></ul>
  </div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
<script type="text/javascript" src="media/jquery.li-scroller.1.0.js"></script>
<script type="text/javascript" src="media/widgetload.js"></script>