<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>

<!-- <link rel="stylesheet" href="../media/bootstrap-1.2.0.css"> -->
<link rel="stylesheet" href="../media/main.css">

<title></title>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {

$.ajax({
 url: "/nextbus",
 success: function(html){
      $("#leftTop").html(html);
 }
});

$.ajax({
 url: "/weather",
 success: function(html){
      $("#leftBottom").html(html);
 }
});

$.ajax({
 url: "/calendar",
 success: function(html){
      $("#leftBottom").html(html);
 }
});

$.ajax({
 url: "/events",
 success: function(html){
      $("#leftBottom").html(html);
 }
});


});
</script>

</head>
<body>
<div class="mainBody">
	<div class="leftSide">
		<div class="module" id="leftTop" id="leftTop">
		  loading...
		</div>
		<div class="module" id="leftBottom" id="leftBottom">
		
		  loading...
		</div>
	</div>
	<div id="rightSide" class="rightSide">
	<div class="module" id="editorial">
		  loading...
		</div></div>
</div>		

<div id="footer" class="bottomTicker">NEWS!</div>

</body></html>

