<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Simmons Hall</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simmons Hall Dashboard">
    <meta name="author" content="simmons-tech">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- jquery -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    
    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="../static/img/favicon.ico">
    <link rel="apple-touch-icon" href="../static/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/img/apple-touch-icon-114x114.png">
  </head>

  <body class="container-fluid">
    <div class="row-fluid">
      <div class="span6">
	<header><h1 id="title">Simmons Hall</h1></header>
	<div class="row-fluid">
	  <div id="weather" class="span6 module">
	    <div class="module_title">
	      <time id="date" datetime="2009-11-13"></time>
	    </div>
	    <time id="time">2:45</time>
	    <div id="currentWeather" class="row-fluid">
	      <div class="span6">
		<img src="" id="nowicon" name="nowicon" class="span3 icon"></img>
	      </div>
	      <div id="currentDetails" class="span4">
		<p id="nowtitle"></p>
		<p id="nowtemp"></p>
	      </div>
	    </div>
	    <div id="forecastTitle" class="row-fluid">
	      <div class="span4">
		<h3 class="forecastDay" id="todayDay"></h3>
		<div class="row-fluid">
		  <img src="" id="todayicon" name="todayicon" class="span6 icon"></img>
		  <div class="forecastTemps">
		    <span id="todaytemphigh"></span> / <span id="todaytemplow"></span>
		  </div>
		</div>
	      </div>
	      <div class="span4">
		<h3 class="forecastDay" id="tomorrowDay"></h3>
		<div class="row-fluid">
		  <img src="" id="tomorrowicon" name="tomorrowicon" class="span6 icon"></img>
		  <div class="forecastTemps">
		    <span id="tomorrowtemphigh"></span> / <span id="tomorrowtemplow"></span>
		  </div>
		</div>
	      </div>
	      <div class="span4">
		<h3 class="forecastDay" id="dayAfterDay"></h3>
		<div class="row-fluid">
		  <img src="" id="dayaftericon" name="todayicon" class="span6 icon"></img>
		  <div class="forecastTemps">
		    <span id="dayaftertemphigh"></span> / <span id="dayaftertemplow"></span>
		  </div>
		</div>
	      </div>
	    </div>
	  </div><!-- end Weather -->


	  <div id="shuttle" class="span6 module">
	    <div class="module_title">
	      <span>Shuttle</span>
	    </div>
	    <div class="next1b" id="nextTime0">
	    </div>
	    <div class="next2" id="nextTime1">
	    </div>
	    <div class="next2" id="nextTime2">
	    </div>
	  </div><!-- end shuttle -->
	</div><!-- end Row 1 -->
	
	<div class="row-fluid">
	  <div id="calendar" class="span12 module">
	    <div class="module_title">
	      <span>Calendar</span>
	    </div>
	    <table class="table table-condensed">
	      <thead>
		<th>Time</th><th>Event</th>
	      </thead>
	      <tbody id="eventlist">
	      </tbody>
	    </table>
	  </div><!-- end calendar -->
	</div><!-- end Row 2 -->
      </div><!-- end left side -->
          
    
      <div id="poster" class="span6">
	<div id="myCarousel" class="carousel slide">
	  <!-- Carousel items -->
	  <div class="carousel-inner">
	    <div class="item active">
	      <img src="static/img/welcome.png"></img>
	    </div>
	    <div class="item">
	      <img src="static/img/simmons.jpg"></img>
	    </div>
	    <div class="item">
	      <img src="static/img/welcome.png">
	    </img></div>
	  </div>
	  <!-- Carousel nav -->
	 <!-- <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>-->
	</div>
      </div><!-- end right side -->
      
    </div><!-- end top content -->
    
    <div class="row-fluid">
	<div id="rsstickercontainer">
	  <ul id="newsticker"></ul>
	</div>
    </div>

    <script type="text/javascript">
      $('.carousel').carousel({
      interval: 2000
      })
    </script>
    
  </body>

  <!-- javascript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  <script src="static/js/bootstrap-transition.js"></script>
  <script src="static/js/bootstrap-alert.js"></script>
  <script src="static/js/bootstrap-modal.js"></script>
  <script src="static/js/bootstrap-dropdown.js"></script>
  <script src="static/js/bootstrap-scrollspy.js"></script>
  <script src="static/js/bootstrap-tab.js"></script>
  <script src="static/js/bootstrap-tooltip.js"></script>
  <script src="static/js/bootstrap-popover.js"></script>
  <script src="static/js/bootstrap-button.js"></script>
  <script src="static/js/bootstrap-collapse.js"></script>
  <script src="static/js/bootstrap-carousel.js"></script>
  <script src="static/js/bootstrap-typeahead.js"></script>
  <script src="static/js/application.js"></script>
  <script type="text/javascript" src="static/jquery.li-scroller.1.0.js"></script>
  <script type="text/javascript" src="static/widgetload.js"></script>
</html>
