<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Simmons Hall</title>
    <meta name="description" content="Simmons Hall Dashboard">
    <meta name="author" content="simmons-tech">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    <link href="../media/css/bootstrap.css" rel="stylesheet">
    <link href="../media/css/bootstrap_responsive.css" rel="stylesheet">
    <link href="../media/li-scroller.css" rel="stylesheet">
    
    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="../media/images/favicon.ico">
    <link rel="apple-touch-icon" href="../media/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../media/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../media/images/apple-touch-icon-114x114.png">
  </head>

  <body class="container-fluid">
    <header><h1 id="title">Simmons Hall</h1></header>

    <div class="row-fluid">
      <div class="span6">
	<div class="row-fluid">
	  <div id="weather" class="span6">
	    <div class="module_title">
	      <time id="date" datetime="2009-11-13"></time>
	    </div>
	    <time id="time">2:45</time>
	    <div id="currentWeather" class="row-fluid">
	      <div class="span6">
		<img src="" id="nowicon" name="nowicon" class="span3 icon"></img>
	      </div>
	      <div id="currentDetails" class="span4">
		<p id="nowtitle"></p>
		<p id="nowtemp"></p>
	      </div>
	    </div>
	    <div id="forecastTitle" class="row-fluid">
	      <div class="span4">
		<h3 class="forecastDay" id="todayDay"></h3>
		<div class="row-fluid">
		  <img src="" id="todayicon" name="todayicon" class="span6 icon"></img>
		  <div class="forecastTemps">
		    <span id="todaytemphigh"></span> / <span id="todaytemplow"></span>
		  </div>
		</div>
	      </div>
	      <div class="span4">
		<h3 class="forecastDay" id="tomorrowDay"></h3>
		<div class="row-fluid">
		  <img src="" id="tomorrowicon" name="tomorrowicon" class="span6 icon"></img>
		  <div class="forecastTemps">
		    <span id="tomorrowtemphigh"></span> / <span id="tomorrowtemplow"></span>
		  </div>
		</div>
	      </div>
	      <div class="span4">
		<h3 class="forecastDay" id="dayAfterDay"></h3>
		<div class="row-fluid">
		  <img src="" id="dayaftericon" name="todayicon" class="span6 icon"></img>
		  <div class="forecastTemps">
		    <span id="dayaftertemphigh"></span> / <span id="dayaftertemplow"></span>
		  </div>
		</div>
	      </div>
	    </div>
	  </div><!-- end Weather -->
	  
	  <div id="shuttle" class="span6">
	    <h1 class="module_title">Shuttle</h1>
	    <div class="next1b" id="nextTime0">
	    </div>
	    <div class="next2" id="nextTime1">
	    </div>
	    <div class="next2" id="nextTime2">
	    </div>
	  </div><!-- end shuttle -->
	</div><!-- end Row 1 -->
	
	<div class="row-fluid">
	  <div id="calendar" class="span12">
	    <h1 class="module_title">Calendar</h1>
	    <table class="table table-condensed">
	      <thead>
		<th>Time</th><th>Event</th>
	      </thead>
	      <tbody id="eventlist">
	      </tbody>
	    </table>
	  </div><!-- end calendar -->
	</div><!-- end Row 2 -->
      </div><!-- end left side -->
          
    
      <div id="poster" class="span6">
	<img id="testPoster" src="media/images/welcome.png"></img>
      </div><!-- end right side -->
    </div><!-- end top content -->
    
    <div class="row-fluid">
	<div id="rsstickercontainer">
	  <ul id="newsticker"></ul>
	</div>
    </div>
    
  </body>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
  <script type="text/javascript" src="media/jquery.li-scroller.1.0.js"></script>
  <script type="text/javascript" src="media/widgetload.js"></script>
</html>
